$main: 				#1eaae1;
$main--light: 		#a0e0f0;
$main--dark: 		#22abe0;

$aux: 				#f5c134;
$text: 				#000000;
$accent:			#45B367;

$font--main:		'Roboto', Helvetica, Arial, sans-serif;


$baseSize: 			16; 
$whitespace:		30px;

// Mixins
@mixin makeRem($fontInPx) {
	font-size: ($fontInPx / $baseSize)+rem;
}

// Extends
%absCenter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}